<head>
    <meta charset="utf-8">
</head>
Długość trasy:<input type="number" id="trasa">
Ilość biletów:<input type="number" id="bilety">
czy ulga? (-30%)
<select id="ulga">
    <option value="tak">tak</option>
    <option value="nie">nie</option>
</select>
<button onclick="calc()" >oblicz</button>
<span id="cena" ></span>
<script>
function calc(){
    var trasa = parseFloat(document.getElementById("trasa").value);
    var ilosc = document.getElementById("bilety").value;
    var ulga = document.getElementById("ulga").value;
    if(ulga=="tak"){
        var cena = trasa*2*ilosc*0.7;
        document.getElementById("cena").textContent="cena wynosi "+cena.toFixed(2)+"zł";
    }else if (ulga=="nie"){
        var cena = trasa*2*ilosc;
        document.getElementById("cena").textContent="cena wynosi "+cena.toFixed(2)+"zł";
    }
}
</script>