.body {
    font-family: sans-serif;
    background-color: #EEEEEE;
    }
    
    .kontener {
    width: 1000px;
    margin: 0 auto;
    }
    
    .Baner {
    background-color: #DDDDDD;
    width: 100%;
    height: 200px;
    float: left;
    text-align: center;
    margin-bottom: 8px;
    }

    .logo {
    width: 400px;
    background-color: #C0C0C0;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    text-align: center;
    }
    
    .Menu {
    background-color: #C0C0C0;
    text-align: center;
    font-size: 200%;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    height: 100px;
    float: left;
    }
    
    a {
    text-decoration: none;
    color: #555555;
    margin: 50px;
    font-size: 100%;
    }
    
    .P {
    text-align: center;
    }

    hr {
    background-color: #C0C0C0;
    width: 70%;
    size: 2px;
    text-align: center;
    clear: both;
    }
    
    .stopa {
    background-color: #C0C0C0;
    text-align: right;
    float: left;
    width: 100%;
    }
    
    .Resetuj {
    background-color: gray;
    }
    
    .Przeslij {
    background-color: gray;
    }
    
    h1 {
    clear: both;
    }
    
    .P2:hover {
    background: deepskyblue;
    }