@media(max-width:767px) { 
    .lista_produktów {
        width: 100%;
    }
    .produkt {
        width: 100%;
        margin: 0;
    }
}
@media(min-width:768px) { 
.lista_produktów {
    width: 600px;
}
.produkt {
    width:22%;
    margin: 10px;
}
}

.produkt {
    float: left;
    border: 1px solid #ece8d8;
    text-align: center;
    /*! background-color: #093354; */
    color: #093354;

    text-decoration: none;
    text-decoration: none;
    /*! background: #eee; */
}


.infoprodukt {

    width: 1000px;
    margin: auto;
}

.lewy {
    float: left;
    /*! border: 8px solid; */
    /*! border-color: #093354 */
    width: 50%;
}

.prawy {
    float: left;
    background-color: white;
    /*! color: black; */
    color: #093354;
    /*! font-size: 2rem; */
    padding: 25px;
    width: 50%;
}

.Nazwa {
    /*! background-color: #093354; */
    /*! color: #ffcb08; */
    text-align: left;
    width: 100%;
    font-weight: 700;
    font-size: 2.5rem;
}

.opis {

}

body {
    /*! background-color: #093354; */
}
.produkt {

    text-align: center;
    color: #093354;

}
.produkt input {

    border: 2px solid #093354;
     
    margin: 10px 0;
    color: #093354;
    background: none;
    cursor: pointer;

}
.produkt a {

    text-transform: uppercase;
    font-family: arial;
text-decoration:none;
}



.Guzik {
    background-color: #093354;
    color: #ffcb08;
}

.cena {
    background-color: white;
    color: #ffcb08;
    padding: 10px 0;
    font-weight: 600;
    font-size: 1.25rem;
    width: 50%;
  
}

.opis {
    /*! border: 8px dashed; */
    /*! padding: 100px; */
    text-align: left;
    font-weight: 3;
}

input[name=ilosc] {
  width: 20%;
  padding: 10px 0;
  /*! border: 0; */
  /*! background: #eee; */
  text-align: center;
  border: 2px solid;
}
input[type=submit] {
  background: #093354;
  color: #fff;
}.produkt h4 {
    height: 50px;
    padding: 20px;
    overflow: hidden;
}