html{
    background: #EEEEEE;
}
.main{
    width: 1000px;
    margin: auto;
    text-align: center;
}
.logo, .menu{
    background: #C0C0C0;
    height: 100px;
    padding: 10px 0;
    float: left;
}
.logo{
    width: 400px;
}
.menu{
    width: 600px;
}
.baner{
    background: #DDDDDD;
    height: 200px;
    float: left;
}
.dish{
    margin: 50px;
    float: left;
    width: 900px;
}
.footer{
    text-align: right;
    float: left;
    width: 1000px;
}
a{
    color: #555555;
    margin: 50px;
    font-size: 200%;
    text-decoration: none;
}
hr{
    background: #C0C0C0;
    width: 70%;
    height: 2px;
}
table{
    text-align: left;
}