body {
font-family: Georgia;
}

.baner {
background-color: #824555;
color: white;
padding: 20px;
width: 100%;
float: left;
text-align: center;
}

.G1 {
background-color: #A26475;
color: white;
width: 30%;
height: 300px;
float: left;
}

.G2 {
background-color: #A26475;
color: white;
width: 30%;
height: 300px;
float: left;
}

.G3 {
background-color: #A26475;
color: white;
width: 40%;
height: 300px;
text-align: right;
float: left;
}

.shit {
background-color: #F0EAE2;
padding: 50px;
float: left;
width: 100%;
}

.stopa {
background-color: #824555;
color: white;
text-align: center;
padding: 20px;
float: left;
width: 100%;
}

table, td, th{
border: solid 2px #69293A;
padding: 7px;
border-collapse: collapse;
}

.cze {
background-color: red;
height: 30px;
}

.zie {
background-color: green;
height: 30px;
}

.nie {
background-color: blue;
height: 30px;
}