html{
    font-family: Arial;
    
}
.logo{
    background-color: rgb(162, 117, 87);
    width: 33%;
    height: 100px;
    float: left;
}
.menu{
    background-color: rgb(162, 117, 87);
    height: 100px;
    width: 67%;
    text-align: right;
    float: left;
}
.baner, .stopka{
    background-color: rgb(74, 45, 32);
    color: white;
    text-align: center;
    padding: 30px;
}
.lewy, .prawy{
    background-color: rgb(162, 117, 87);
    color: white;
    width: 50%;
    height: 500px;
    float: left;
}
.przekreslony{
    text-decoration: line-through;
}
a{
    color: rgb(65, 98, 85);
    padding: 20px;
    margin: 10px;
    font-size: 150%;
    border: 1px solid rgb(65, 98, 85);
    float: left;
}
h1{
    letter-spacing: 10px;
}