.baner{
    background-color: #D47958;
    height: 50px;
    width: 100%;
    float: left;
}
.lewy{
    background-color: #AA593B;
    height: 450px;
    width: 40%;
    float: left;
}
.srodkowy{
    background-color: #E5998B;
    height: 450px;
    width: 30%;
    float: left;
}
.prawy{
    background-color: #AA593B;
    height: 450px;
    width: 30%;
    float: left;
}
.stopa{
    background-color: #D47958;
    height: 50px;
    text-align: center;
    float: left;
    width: 100%;
}
ul{
    list-style-type: circle;
    margin-left: 100px;
}
img{
    margin-top: 100px;
    float:left;
}
form{
    margin-left: 120px;
    margin-top: 50px;
}
h4{
    margin-left: 100px;
    margin-top: 200px;
}
h2{
    text-align: center;
    margin: 0;
}
h3{
    text-align: center;
}