body {
    font-family: Helvetica;
    }
    
    .PanelB {
    background-color: rgb(0,0,136);
    color: white;
    
    width: 20%;
    float: left;
    }
    
    .P1 {
    background-color: rgb(255,153,51);
    width: 80%;
    height: 100px;
    float: left;
    text-align: center
    }
    
    .P2 {
    background-color: white;
    color: black;
    width: 80%;
    height: 300px;
    float: left;
    }
    
    .P3 {
    background-color: rgb(18,136,7);
    width: 80%;
    text-align: center;
    float: left;
    height: 200px;
    }
    
    .stopa {
    background-color: steelblue;
    text-align: center;
    padding: 20px 0px;
    float: left;
    width: 100%;
    }
    
    h1 {
    letter-spacing: 5px;
    }

    h3 {
    text-align: center;
    }
    
    .P2:hover {
    background: silver;
    }

    #IndianMan {
    width: 100%;
    }

    #IN {
    float: left;
    width: 50%;
    }

    #OUT{
    float: right;
    width: 50%;
    }
    td {
        padding: 10px;
    }
    .P2 input, .P2 select { 
        width:100%;

    }