.baner {
    background-color: #4A7684;
    color: white;
    text-align: center;
    font-family: Arial;
    padding: 20px;
}

.lewy {
    text-align: center;
    width: 65%;
    height: 500px;
    float: left;
    background-color: white ;

}

.prawy {
    background-color: #4A7684;
    color: white;
    width: 35%;
    height: 500px;
    float: left;
}

.stopka {
    background-color: #4A7684;
    color: white;
    text-align: center;
    font-family: Arial;
    padding: 20px;
}

a {
    color: yellow;
}

img {
    max-width: 100%;
}