.logo {
     background-color: rgb(162,117,87);
     width: 20%;
     height: 100px;
     float: left;
}

.menu {
     background-color: rgb(162,117,87);
     width: 80%;
     height: 100px;
     text-align: right;
     float: right;
}

.baner{
     background-color: rgb(74, 45, 32);
     color: white;
     text-align: center;
     padding: 30px;
     float: left;
     width: 100%;
}

.lewy {
     background-color: rgb(162,117,87);
     color: white;
     width: 50%;
     height: 500px;
     float: left;
}

.prawy {
     background-color: rgb(162,117,87);
     color: white;
     width: 50%;
     height: 500px;
     float: left;
}

.stopka {
    background-color: rgb(74, 45, 32);
    color: white;
    text-align: center;
    padding: 30px;
    float: 100%;
    clear: both;
}

a {
     padding: 20px;
     margin: 10px;
     border: 1px solid black;
     float: left;
}
body{
    font-family: Arial;
    background-color: rgb(162,117,87);
    margin: 0;
    padding: 0;
}

h1{
     letter-spacing: 10px;
}