html{
    background-color: #99FFCC;
}
.main{
    width: 1000px;
    margin: auto;
}
.baner{
    background-color: #99FF66;
    float: left;
}
.menu{
    background-color: #66CCFF;
    text-align: center;
    padding: 20px 0;
    float: left;
    width: 1000px;
}
.dish{
    width: 310px;
    padding: 10px;
    float: left;
}
.footer{
    background-color: #66CCFF;
    color: #006666;
    text-align: right;
    height: 30px;
    padding: 20px;
    float: left;
    width: 960px;
}
a{
    color: #006666;
    margin: 50px;
    font-size: 200%;
    text-decoration: none;    
}
#reset{
    background-color: #FF0000;
}
#send{
    background-color: #00FF00;
}