body {
    font-family: verdana;
}
.Baner {
background-color: #4682B4;
color: white;
padding: 20px;
font-size: 120%;
text-align: center;
}

.Lewo {
float: left;
background-color: #40E0D0;
width: 40%;
height: 500px;
}

.Prawo {
float: left;
background-color: #40E0D0;
width: 60%;
height: 500px;
}

.Stopka {
background-color: #4682B4;
color: white;
padding: 20px;
font-size: 120%;
text-align: center;
}

.IMG {
padding: 5px;
margin: 10px;
border: solid 1px #000080;
}