html{
    font-family: Helvetica;
}
.boczny{
    background-color: Navy;
    color: white;
    width: 25%;
    height: 700px;
    float: left;
}
.glowny1{
    background-color: RoyalBlue;
    width: 75%;
    height: 100px;
    text-align: center;
    float: left;
}
.glowny2{
    background-color: SteelBlue;
    height: 300px;
    width: 75%;
    float: left;
}
.glowny3{
    background-color: RoyalBlue;
    height: 300px;
    width: 75%;
    text-align: center;
    float: left;
}
.stopka{
    background-color: SteelBlue;
    text-align: center;
    padding: 20px;
}
h1{
    letter-spacing: 5px;
}
form{
    margin: 30px;
    line-height: 3;
}
form:hover{
    background-color: deepskyblue;
}