html{
    font-family: Helvetica;
}
.baner-lewy, .lewy{
    background-color: rgb(130, 69, 85);
    color: white;
    width: 30%;
    height: 200px;
    text-align: center;
    float: left;
}
.baner-prawy, .prawy{
    background-color: rgb(130, 69, 85);
    color: white;
    width: 70%;
    height: 200px;
    text-align: center;
    float: left;
}
.glowny, .stopka{
    background-color: rgb(240, 234, 226);
    padding: 120px;
}
table, td{
    border: 1px solid rgb(130, 69, 85);
    color: rgb(130, 69, 85);
}
a{
    color: rgb(240, 234, 226);
}