html{
    font-family: Georgia;
}
.baner{
    background-color: #824555;
    color: white;
    text-align: center;
    padding: 20px;
}
.gora1, .gora2{
    background-color: #A26475;
    color: white;
    width: 30%;
    height: 300px;
    float: left;
}
.gora3{
    background-color: #A26475;
    color: white;
    width: 40%;
    height: 300px;
    text-align: right;
    float: left;
}
.glowny{
    background-color: #F0EAE2;
    padding: 50px;
    float: left;
    width: 100%;
}
.stopka{
    background-color: #824555;
    color: white;
    float: left;
    text-align: center;
    padding: 20px;
    width: 100%;
}
table, td, th{
    border: solid 2px #69293A;
    padding: 7px;
    border-collapse: collapse;
}
ul{
    list-style-type: square;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
button{
    padding: 15px 10px;
}