body {
font-family: Georgia;
}

.baner {
background-color: #E8C84E;
height: 50px;
font-size: 130%;
text-align: center;

}

.lewo {
background-color: #FFB544;
height: 500px;
width: 40%;
font-size: 130%;
float: left;
}

.podkowy {
height: 500px;
width: 30%;
text-align: center;
float: left;
}

.prawo {
background-color: #FFB544;
height: 500px;
width: 30%;
font-size: 130%;
text-align: center;
float: left;
}

.stopa {
background-color: #E8C84E;
height: 50px;
text-align: right;
padding: 10px;
width: 99%;
float: left;
}
