body {
font-family: Helvetica;
}

.PanelB {
background-color: navy;
color: white;
height: 700px;
width: 25%;
float: left;
}

.P1 {
background-color: royalblue;
width: 75%;
height: 100px;
float: left;
text-align: center
}

.P2 {
background-color: steelblue;
color: white;
width: 75%;
height: 300px;
float: left;
}

.P3 {
background-color: royalblue;
width: 75%;
height: 300px;
text-align: center;
float: left;
}

.stopa {
background-color: steelblue;
text-align: center;
padding: 20px;
float: left;
width: 100%;
}

h1 {
letter-spacing: 5px;
}

.P2:hover {
background: deepskyblue;
}