body {
font-family: Helvetica;
background-color: #99FFCC;
}

.kontener {
width: 1000px;
margin: 0 auto;
}

.Baner {
background-color: #99FF66;
width: 100%;
height: 200px;
float: left;
text-align: center
}

.Menu {
background-color: #66CCFF;
text-align: center;
font-size: 200%;
padding-top: 20px;
padding-bottom: 20px;
width: 100%;
height: 100px;
float: left;
}

a {
text-decoration: none;
}

.P-1 {
text-align: center;
float: left;
width: 33.33%;
}

.P-2 {
text-align: center;
float: left;
width: 33.33%;
}

.P-3 {
text-align: center;
float: left;
width: 33.33%;
}

.stopa {
background-color: #66CCFF;
color: #006666;
text-align: right;
height: 30px;
padding: 20px;
float: left;
width: 100%;
}

.Resetuj {
background-color: red;
}

.Przeslij {
background-color: green;
}

h1 {
letter-spacing: 5px;
}

.P2:hover {
background: deepskyblue;
}